@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
:root {
    --font-1: 'Big Shoulders Display', helvetica;
    --font-2: 'Lexend Deca', sans-serif;

    --p-Bright-orange: hsl(31, 77%, 52%);
    --p-Dark-cyan: hsl(184, 100%, 22%);
    --p-Very-dark-cyan: hsl(179, 100%, 13%);

    --n-Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --n-Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--n-Very-light-gray-background-headings-buttons);
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

main.cards {
    display: flex;
    max-width: 900px;
}

main.cards section.card {
    display: flex;
    height: 450px;
    max-width: 300px;
}

.icon {
    width: 64px;
    height: 64px;
    margin-top: 25px;
}

h3 {
    font-family: var(--font-1);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: var(--n-Very-light-gray-background-headings-buttons);
}

span {
    color: var(--n-Transparent-white-paragraphs);
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.sedans {
    background-color: var(--p-Bright-orange);
    padding: 45px;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

.suv {
    background-color: var(--p-Dark-cyan);
    padding: 45px;
}

.luxury {
    background-color: var(--p-Very-dark-cyan);
    padding: 45px;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

.btn {
    margin-top: 40px;
    display: flex;
    justify-content: left;
}

button {
    font-family: var(--font-2);
    background-color: var(--n-Very-light-gray-background-headings-buttons);
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

button:hover {
    background: none;
    color: var(--n-Very-light-gray-background-headings-buttons);
    border: solid;
    border-color: var(--n-Very-light-gray-background-headings-buttons);

}

section.car .sedans .btn.esquerda {
    color: var(--p-Bright-orange);
}
